* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
  font-family: 'Lato', sans-serif;
}


.star {
  height: 20px;
  width: 20px;
}

.flag {
  height: 10px;
}


.covers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
}

.container {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.covers li{
 list-style: none;
 margin-bottom: 10px;
}

.search-bar {
  margin-right: 10px;
}

.logo {
  margin-left: 10px;
}


.box-img {
 position: relative;
}



.box-item .box-layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.box-item:hover .box-layover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  z-index: 1;
}

.film-profile {
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  width: 100%;
}

.film-profile p {
  font-size: 15px;
}

.yellow {
  color: yellow;
}
