* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
}


.star {
  height: 20px;
  width: 20px;
}

.flag {
  height: 20px;
  width: 20px;
}


.covers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
}

.container {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
}

.covers li{
 list-style: none;
}

.search-bar {
  margin-left: 50%;
}


.box-img {
 position: relative;
}



.flex-item .box-layover {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.flex-item:hover .box-layover {
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
